hr {
    background: linear-gradient(to right, #3032C0, #090A21)!important;
    color: linear-gradient(to right, #3032C0, #090A21)!important;
    border-color: linear-gradient(to right, #3032C0, #090A21)!important;
    height: 1px;
    width: 167px;
}